*{
    margin:0;
    padding:0;
}

/*副页*/
#bigSideContainer{
    max-width: 1920px;
    min-width: 1002px;
    /*height:100%;*/
    margin:0 auto;
    position: relative;
    /*border: 1px solid #f00;*/
}
/*大容器*/
#sideContainer{
    background: url("../img/sideIndex-bg.jpg") no-repeat top center #fff;
    /*position: relative;*/
}
/*主要部份*/
#sideContainer .main{
    background: url("../img/sideIndex-shadow.png") no-repeat top center;
    width:1120px;
    margin:0 auto;
}
/*主要内容*/
#sideContainer .main .main-con{
    width:1002px;
    margin:0 auto;
}
/*---------------底部开始-----------------*/
#bigSideContainer .side-footer{
    width:100%;
    height:40px;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 40px;
    background: #454d58;
}
#bigSideContainer .side-footer p{
    margin-left: 45%;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
}
#bigSideContainer .side-footer p a{
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
}

/*---------------左侧开始-----------------*/
#sideContainer .main .main-con .side-left{
    width:240px;
    float: left;
    padding-bottom: 300px;
}
/*右侧*/
#sideContainer .main .main-con .side-right{
    /*height:632px;*/
    width:700px;
    padding:75px 19px 75px 43px;
    background: #fff;
    float: left;
    position: relative;
}
/*logo*/
#sideContainer .main .main-con .side-left .logo{
    padding-top:50px;
    padding-bottom: 80px;
}
#sideContainer .main .main-con .side-left .logo a{
    display: block;
    text-decoration: none;
}
#sideContainer .main .main-con .side-left .logo img{
    vertical-align: middle;
}
/*列表*/
#sideContainer .main .main-con .side-left .list ul li{
    height:44px;
    line-height: 44px;
    list-style: none;
    border-top:1px solid #c2c1c1;
}
/*被选中的*/
#sideContainer .main .main-con .side-left .list ul li .list-selected{
    background: #ef8201;
    color: #fff;
}
#sideContainer .main .main-con .side-left .list ul li a{
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #3e3a39;
    font-family: 微软雅黑;

}

#sideContainer .main .main-con .side-left .list ul li a:hover{
    background: #ef8201;
    color: #fff;
}

/*-----------------左侧结束----------------*/

/*------------------右侧开始----------------*/
/*集团概况*/
#sideContainer .main .main-con .side-right .side-right-wrap3{
    /*display: none;*/
}
/*标题*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .title{
    margin-bottom: 26px;
    height:36px;
    line-height: 36px;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .title a img{
    vertical-align: middle;
}
/*banner*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .banner{
    height:140px;
    width:680px;
}
/*导航条*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav{
    margin-top: 22px;
    border-bottom: 1px solid #c1bfc0;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul{
    line-height: 44px;
    height:44px;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul li{
    width:110px;
    float: left;
    text-align: center;
    list-style: none;
    line-height: 44px;
    height:44px;
    position: relative;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul li a{
    display: inline-block;
    color: #3e3a39;
    text-decoration: none;
    font-family: 宋体;
    font-size: 14px;
    line-height: 44px;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul li b{
    display: none;
    height:12px;
    width:12px;
    position: absolute;
    border-top:1px solid #fff;
    margin-top:-2px;
    left: 50%;
    background: url("../img/sideIndex-nav_select.jpg")  no-repeat;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul li span{
    font-family: 宋体;
    font-size: 14px;
    line-height: 44px;
    float: right;
    color: #c1c0c0;
}
/*被选中的*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul .selected a{
    color: #ef8201;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .nav ul .selected b{
    display: block;
    height:12px;
    width:12px;
    position: absolute;
    border-top:1px solid #fff;
    margin-top:-2px;
    left: 50%;
    background: url("../img/sideIndex-nav_select.jpg")  no-repeat;
}

/*-------------------里面内容------------------*/
/*--------------------旅游产业板块开始----------------*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1{
    width:693px;
    display:block;
}
/*标题*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 .con1-title{
    font-family: 宋体;
    font-size: 18px;
    height:40px;
    line-height: 40px;
    font-weight: bold;
    margin-top:30px;
    text-align: center;
    color: #f08300;
}
/*段落*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: 宋体;
    line-height: 30px;
    margin-top:10px;
    color: #3e3a39;
}
/*项目展示*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 .con1-mid-title{
    width:70px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 20px;
    color: #f08300;
    border-bottom: 3px solid #f08300;
    font-family: 宋体;
    font-size: 16px;
    font-weight: bold;
}
/*项目展示的图片*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 .con1-mid-pic{
    list-style: none;
    width: 100%;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 .con1-mid-pic li{
    float: left;
    width:216px;
    height:180px;
    margin-right: 14px;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 .con1-mid-pic li img{
    width:216px;
    height:139px;
    vertical-align: middle;
}
#sideContainer .main .main-con .side-right .side-right-wrap3 .con1 .con1-mid-pic li p{
    width: 216px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-family: 宋体;
    font-size: 12px;
    color: #3e3a39;
}

/*------------------旅游产业板块结束--------------*/

/*-----------------旅游金融板块开始--------------*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con2{
    width:693px;
    display:none;
}
/*标题*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con2 .con2-title{
    font-family: 宋体;
    font-size: 18px;
    height:40px;
    line-height: 40px;
    font-weight: bold;
    margin-top:30px;
    text-align: center;
    color: #f08300;
}
/*段落*/
#sideContainer .main .main-con .side-right .side-right-wrap3 .con2 p{
    text-indent: 2em;
    font-size: 14px;
    font-family: 宋体;
    line-height: 30px;
    margin-top:10px;
    color: #3e3a39;
}
/*----------------旅游金融板块结束---------------*/
/*--------------------右侧结束------------------*/