*{
    margin:0;
    padding:0;
}
/*外容器*/
#outer{
    width:600px;
    height:300px;
    position: relative;
    left:50%;
    top:20px;
    margin-left: -300px;
    overflow: hidden;
    cursor: pointer;
    background: url("../img/loading.gif") no-repeat center center;
}
/*图片容器*/
#swiper{
    width:800%;
    height:100%;
}
#swiper img{
    position: absolute;
    /*display: none;*/
    width:600px;
    height:300px;
}
/*小圆点*/
#dot{
    list-style: none;
    width:200px;
    height:25px;
    position: absolute;
    left:50%;
    margin-left: -100px;
    bottom: 10px;
    background: rgba(255,255,255,0.3);
}
#dot li{
    width:20px;
    height:20px;
    float: left;
    margin:3px 3px 3px 2px;
    background: #fff;
    border-radius: 50%;
}
#dot li.selected{
    background: #f00;
}
/*左右箭头*/
a{
    text-decoration: none;
    font-size: 24px;
    width:30px;
    height:40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top:50%;
    display: none;
    color: #fff;
    background: #ccc;
    margin-top: -20px;
}
#left{
    left:0;
}
#right{
    right:0;
}
